.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  width: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-background-scroll infinite 20s linear;
  }
}

.headline {
  background: url('./background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex: 1;
}

.overlay {
  display: flex;
  flex: 1;
  background: rgba(10,10,10,.5)
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-background-scroll {
  100%{
    transform: translateX(-66.6666%);
  }
}
